/* General Styles */
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #00171F, #007EA7, #00A8E8);
    color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}

/* Page Title */
h1 {
    color: black;
    font-size: 32px;
    margin: 50px auto 20px;
    text-align: center;
}

/* Committees List Container */
.committees-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 23, 31, 0.2);
}

/* Committees List */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #FFFFFF;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 23, 31, 0.2);
    transition: transform 0.2s ease-in-out;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 52, 89, 0.3);
}

/* Committee Links */
a.committee-link {
    font-size: 18px;
    font-weight: bold;
    color: #007EA7;
    text-decoration: none;
    transition: color 0.3 ease-in-out;
}

a.committee-link:hover {
    color: #00A8E8;
    text-decoration: underline;
}

/* Faculty In-Charge */
.faculty-incharge {
    color: #003459;
    font-size: 14px;
}

/* Back Button */
.btn-back {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 52, 89, 0.2);
    border: none;
    cursor: pointer;
    max-width: 250px;
    text-align: center;
    background: #00A8E8;
    color: #FFFFFF;
    margin: 30px auto;
    display: block;
}

.btn-back:hover {
    background: #007EA7;
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 52, 89, 0.3);
}


.star-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
    color: #ccc; /* Default color */
}

.star-icon.selected {
    color: #FFD700; /* Gold color when selected */
}
