/* signin.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #00171F, #007EA7, #00A8E8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
}

h1 {
    color: #00A8E8;
    margin-bottom: 20px;
}

form {
    background: rgba(0, 23, 31, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div {
    background: #003459;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
}

button {
    background: linear-gradient(90deg, #007EA7, #00A8E8);
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #003459;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

a {
    color: #00A8E8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #007EA7;
}

p {
    margin: 20px 0;
    font-size: 1.1em;
}
