{% load static %}
<link rel="stylesheet" href="{% static 'css/club_list.css' %}">

<h1>Club List</h1>

<div class="club-list">
    <ul>
        {% for club in clubs %}
            {% if club.status == "approved" or club.status == "delete_pending" %}
                <li>
                    <a href="{% url 'club_detail' pk=club.id %}" class="club-link">
                        {{ club.name }}
                    </a> 
                    <p class="faculty-incharge">
                        (In-Charge: {{ club.faculty_incharge.id.full_name }})
                    </p>
                    <p>{{ club.description }}</p>
                </li>
            {% endif %}
        {% empty %}
            <li>No clubs have been added yet.</li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'home' %}" class="btn-back">Back to Home</a>
