<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ club.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/club_details.css' %}">
</head>
<body>
    <div class="club-container">
        <h1>{{ club.name }}</h1>
        <p>{{ club.description }}</p>
        <p class="faculty-incharge">Faculty In-Charge: {{ club.faculty_incharge.id.full_name }}</p>

        <h2>Images</h2>
        {% if club.image %}
            <img src="{{ club.image.url }}" alt="Main Club Image">
        {% endif %}

        <h3>Additional Images</h3>
        {% for image in club.images.all %}
            <img src="{{ image.image.url }}" alt="Club Image">
        {% empty %}
            <p>No additional images uploaded.</p>
        {% endfor %}
        {% if can_edit %}
           <br><a href="{% url 'edit_club_committee' club.id %}" class="btn btn-primary">Edit Club</a>       
        {% endif %}
        {% if is_owner %}
            <div class="button-container">
                <form action="{% url 'delete_club_committee' club.id %}" method="post" onsubmit="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Club</button>
                </form>
            </div>
        {% endif %}
        {% if is_owner %}
            <div class="button-container">
                <form action="{% url 'transfer_ownership' club.id %}" method="post">
                    {% csrf_token %}
                    <label for="new_owner">Select New Owner:</label>
                    <select name="new_owner" required>
                        {% for core_member in core_members %}
                            <option value="{{ core_member.id.id.username }}, {{ core_member.id.full_name }}, {{ core_member.id.role }}">
                                {{ core_member }} 
                            </option>
                        {% endfor %}
                    </select>                    
                    <button type="submit" class="btn btn-warning">Transfer Ownership</button>
                </form>
            </div>
        {% endif %}

        <div class="button-container">
            <a href="{% url 'club_list' %}" class="btn btn-back">Back to Clubs List</a>
        </div>
    </div>
</body>
</html>
