<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ committee.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/committee_detail.css' %}">
</head>
<body>
<div class="container">
<h1>{{ committee.name }}</h1>
<p>"{{ committee.description }}"</p>
<p>Faculty In-Charge: <u>{{ committee.faculty_incharge.id.full_name }}</u></p>

<h2>Images</h2>
{% if committee.image %}
    <img src="{{ committee.image.url }}" alt="Main Committee Image" style="max-width: 300px;">
{% endif %}

<h3>Additional Images</h3>
<div class="image-gallery">
{% for image in committee.images.all %}
    <img src="{{ image.image.url }}" alt="Committee Image" style="max-width: 300px;">
{% empty %}
    <p>No additional images uploaded.</p>
{% endfor %}
</div>

{% if is_creator %}
    <a href="{% url 'edit_club_committee' committee.id %}" class="btn btn-primary">Edit Committee</a>
    <form action="{% url 'delete_club_committee' committee.id %}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Committee</button>
    </form>
{% endif %}

<a href="{% url url %}" class="btn">Back to Committees List</a>
</div>


</body>
</html>
