{% load static %}
<title>Edit Club</title>
<link rel="icon" type="image/jpeg" href="{% static 'images/logo.jpeg' %}" class="favicon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/edit_club.css' %}">
<h2>Edit Club</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Club Name:</label>
    <input type="text" name="name" value="{{ association.name }}" required>

    <label for="description">Description:</label>
    <textarea name="description">{{ association.description }}</textarea>

    <label for="type">Type:</label>
    <input type="hidden" name="type" value="clubs">

    <label for="faculty_incharge">Faculty In-Charge:</label>
    <select name="faculty_incharge">
        {% for faculty in faculties %}
        <option value="{{ faculty.id.ssv_id }}" {% if association.faculty_incharge == faculty %}selected{% endif %}>
            {{ faculty.id.full_name }}
        </option>
        {% endfor %}
    </select>

    <label for="image">Main Image:</label>
    <input type="file" name="image">

    <label for="images">Additional Images:</label>
    <input type="file" name="images" multiple>

    <button type="submit">Save Changes</button>
</form>
