{% extends "base.html" %}

{% block title %}
<title>Faculty</title>
{% endblock title %}
{% block extra_css %}
<style>
        .welcome-container {
                display: flex;
                flex-direction: column;
                justify-content: center; /* Center vertically */
                align-items: center; /* Center horizontally */
                height: 80vh; /* Adjust height so it's below navbar */
                text-align: center;
                color: black;
                width: 100%;
            }
            .content {
                margin-left: 0 !important;
            }
            .welcome-container h1 {
                font-size: 3rem; /* Adjust as needed */
            }
        
            .welcome-container p {
                font-size: 1.5rem; /* Adjust as needed */
            }
</style>
{% endblock extra_css%}

{% block content %}

<div class="welcome-container">
<h1>Welcome! 😊</h1>
        <p>This is a simple layout with a sidebar and a navbar.</p>
</div>

{% endblock content %}