{% extends "base.html" %}
{% load static %}
{% block title %}<title>Profile</title>{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}
    
{% block content %}
    <div class="profile-container">

        <div class="profile-header">
        <div class="profile-picture">
            <img src="{{ user_profile.profile_picture }}" alt="">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
        </div>
        <div class="profile-content">
            <div class="profile-info">
              <h1>{{ user_profile.full_name }}</h1>
              <p><strong>Department:</strong> {{ faculty.department }}</p>
              <p><strong>Designation:</strong> {{ faculty.designation }}</p>
            </div>
            <div class="contact">
              <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>
        </div>

        <div class="incharge-container">
          <p class="incharge-heading"><strong>In-charge of:</strong></p>
          <div class="associations">
              {% for association in associations %}
              <p>{{ association.name }} ({{ association.type }})</p>
              {% endfor %}
          </div>
        </div>
        
        <a href="{% url 'edit_profile'%}"><i class="fa-solid fa-user-pen" style="color:#00171F"></i></a>
    </div>    
{% endblock content %}
